#menu_institucional
  #menu
    col(9/12, gutter: 1)
    ul
	    li
	      col(1/4, gutter: .5)
	      a
	      	background #57b1a8
	      	display block
	      	text-align center
	      	padding 14px 0
	      	color #FFF
	      	text-transform uppercase
	      	letter-spacing 2px
	#search
		background #c09e53
		padding 9px
		col(3/12, gutter: 1)
		input[type=text]
			height 26px
			width 170px		
		button
			background #000
			border 0
			height 26px
			color #c09e53
			padding 0 10px
			text-transform uppercase
	   
