#menu
  ul
    li
      col(1/4, gutter: .5)
      h2
      	background #57b1a8
      	color #FFF
      	text-align center
      	padding 2px 0
      	margin-bottom 5px
      	text-transform uppercase
      	letter-spacing 2px
      img
        width 100%
      p
      	letter-spacing 2px
      	font-weight bold
      	text-align center
      a
      	color #57b1a8
      	text-align center
      	display block