@import 'jeet'
@import 'nib'

html, body
  height 100%

global-reset()

*
  box-sizing border-box
  outline 0
  
.clear
  clear both

body
  background #fff
  overflow-x hidden  

#content
	center(940px)

@import '_header'
@import '_menu_institucional'
@import '_menu'
@import '_highlights'
@import '_footer'