#footer
	#newsletter
		.newsletter-content
			p [digite seu e-mail para receber novidades]
			.news-form
				input(type="text")
				button Enviar
			.clear
	#sitemap
		a Home
		a Sobre
		a Contato
		a Imprensa

		a Treino
		a Nutrição
		a Beleza
		a Lifestyle


