#highlight_posts
	div.highlight 
		<img src="http://placehold.it/400x200">
		h2 Titulo 1
	div.highlight 
		<img src="http://placehold.it/400x200">
		h2 Titulo 2
	div.highlight
		<img src="http://placehold.it/400x200"> 
		h2 Titulo 3
	div.highlight
		<img src="http://placehold.it/400x200"> 
		h2 Titulo 4
	div.highlight 
		<img src="http://placehold.it/400x200">
		h2 Titulo 5
	div.highlight 
		<img src="http://placehold.it/400x200">
		h2 Titulo 6
#side_ads
	ul
		li
			<img src="http://placehold.it/400x200">
		li 
			<img src="http://placehold.it/400x200">
