#highlight_posts
	h2 Postagem em Destaque
	.post-list
		.highlight 
			<img src="http://placehold.it/400x200">
			h3 Titulo 1
		.highlight 
			<img src="http://placehold.it/400x200">
			h3 Titulo 2
		.highlight
			<img src="http://placehold.it/400x200"> 
			h3 Titulo 3
		.highlight
			<img src="http://placehold.it/400x200"> 
			h3 Titulo 4
		.highlight 
			<img src="http://placehold.it/400x200">
			h3 Titulo 5
		.highlight 
			<img src="http://placehold.it/400x200">
			h3 Titulo 6
#side_ads
	ul
		li
			<img src="http://placehold.it/400x200">
		li 
			<img src="http://placehold.it/400x200">
.clear
