.container.intro-container
	h2 Conheça as vantagens da CAOA Consórcios
	hr
	p Conquiste o Hyundai que você sempre sonhou com parcelas mais baixas e planos mais longos. Só na CAOA Consórcios você conta com a solidez e transparência necessária para fazer uma aquisição bem planejada. 

	ul.features
		li(data-sr="enter top")
			div.feature
				div.ico.tax
				span sem juros
		li(data-sr="enter top, wait 0.1s")
			div.feature
				div.ico.saving
				span 
					| poupança
					br
					| programada
		li(data-sr="enter top, wait 0.2s")
			div.feature
				div.ico.parcel
				span até 80 meses
		li(data-sr="enter top, wait 0.3s")
			div.feature
				div.ico.auction
				span
					| lances fixo,
					br
					| embutido e livre

	h2 conheça os modelos e condições
	hr
	p Escolha abaixo o modelo Hyundai que mais se encaixa com o seu perfil e faça uma simulação. 