#menu
	.row
		ul
			li 
				h2 Treino
				<img src="http://placehold.it/400x200">
				p Lorem ipsum dolor sit amet
				a Leia Mais
			li 
				h2 Nutrição
				<img src="http://placehold.it/400x200">
				p Lorem ipsum dolor sit amet
				a Leia Mais
			li 
				h2 Beleza
				<img src="http://placehold.it/400x200">
				p Lorem ipsum dolor sit amet
				a Leia Mais
			li 
				h2 Lifestyle
				<img src="http://placehold.it/400x200">
				p Lorem ipsum dolor sit amet
				a Leia Mais
