.container.products-container
	ul
		li
			div.cube-0
				div.scenes
					div.product-cube
						div.product-face.product-front
							div.product-cta
								img.logo(src="/images/products/logo_tucson.png")
								a.bt-cta(data-cube-id="0", data-product-id="4", data-product-credit="4", data-product-name="Tucson") faça uma simulação
							img.product-bg(src="/images/products/tucson.jpg")
						div.product-face.product-left
							.form-container
						div.product-face.product-bottom
				.slide-form
		li
			div.cube-1
				div.scenes
					div.product-cube
						div.product-face.product-front
							div.product-cta
								img.logo(src="/images/products/logo_i30.png")
								a.bt-cta(data-cube-id="1", data-product-id="6", data-product-credit="0", data-product-name="i30") faça uma simulação
							img.product-bg(src="/images/products/i30.jpg")
						div.product-face.product-left
							.form-container
						div.product-face.product-bottom
				.slide-form
		li
			div.cube-2
				div.scenes
					div.product-cube
						div.product-face.product-front
							div.product-cta
								img.logo(src="/images/products/logo_elantra.png")
								a.bt-cta(data-cube-id="2", data-product-id="6", data-product-credit="0", data-product-name="Elantra") faça uma simulação
							img.product-bg(src="/images/products/elantra.jpg")
						div.product-face.product-left
							.form-container
						div.product-face.product-bottom
				.slide-form
		li
			div.cube-3
				div.scenes
					div.product-cube
						div.product-face.product-front
							div.product-cta
								img.logo(src="/images/products/logo_ix35.png")
								a.bt-cta(data-cube-id="3", data-product-id="7", data-product-credit="2", data-product-name="ix35") faça uma simulação
							img.product-bg(src="/images/products/ix35.jpg")
						div.product-face.product-left
							.form-container
						div.product-face.product-bottom
				.slide-form
		li.middle
			div.cube-4
				div.scenes
					div.product-cube
						div.product-face.product-front
							div.product-cta
								img.logo(src="/images/products/logo_hr.png")
								a.bt-cta(data-cube-id="4", data-product-id="4", data-product-name="HR") faça uma simulação
							img.product-bg(src="/images/products/hr.jpg")
						div.product-face.product-left
							.form-container
						div.product-face.product-bottom
				.slide-form
		//- li
		//- 	div.cube-5
		//- 		div.scenes
		//- 			div.product-cube
		//- 				div.product-face.product-front
		//- 					div.product-cta
		//- 						img.logo(src="/images/products/logo_santafe.png")
		//- 						a.bt-cta(data-cube-id="5", data-product-id="4", data-product-name="Santa Fe") faça uma simulação
		//- 					img.product-bg(src="/images/products/santafe.jpg")
		//- 				div.product-face.product-left
		//- 					.form-container
		//- 				div.product-face.product-bottom
		//- 		.slide-form
		//- li
		//- 	div.cube-6
		//- 		div.scenes
		//- 			div.product-cube
		//- 				div.product-face.product-front
		//- 					div.product-cta
		//- 						img.logo(src="/images/products/logo_grandsantafe.png")
		//- 						a.bt-cta(data-cube-id="6", data-product-id="4", data-product-name="Grand Santa Fe") faça uma simulação
		//- 					img.product-bg(src="/images/products/grandsantafe.jpg")
		//- 				div.product-face.product-left
		//- 					.form-container
		//- 				div.product-face.product-bottom
		//- 		.slide-form